
  body {
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    padding: 30px;
    text-align: center;
  }

  h1 {
    color: #00796b;
    margin-bottom: 20px;
  }

  input[type="search"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-right: 10px;
    font-size: large;
  }

  button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  button:hover {
    background-color: #004d40;
  }

  #weatherData {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  #weatherData p {
    margin: 10px 0;
    font-size: 18px;
  }

  #weatherIcon {
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }

  #errorMsg {
    margin-top: 20px;
    font-weight: bold;
  }



  @media only screen and (max-width: 440px){
    button{
        margin-top: 10px;
    }
    
  }